.profilView-formPage {
  background-color: #fefefe;
  border-radius: 18px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-height: 0;
  overflow: hidden;
  align-self: center;
  height: 100%;
  align-items: center;

  @include desktop-medium() {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: scroll;
  }

  &__pagination {
    grid-column: 1 / -1;
    grid-row: 4;
    display: flex;
    align-self: end;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    margin-top: auto;

    @include desktop-medium() {
      grid-row: 7;
    }

    button {
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-weight: 500;
    }
  }
}
