.Select {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  &__label {
    font-size: 0.85rem;
    font-weight: 600;
  }

  &__field {
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: white;
  }
}
