.smallcard {
  background-color: $background-color;
  border-radius: 18px;
  padding: 2rem;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  gap: 2rem;
  &__main-container {
    background-color: #4f7df3;
  }

  &__icon-container {
    background-color: #e8edfc;
    padding: 0.5rem;
    border-radius: 10px;
  }
  &__icon {
    &.svg-inline--fa path {
      fill: #4f7df3;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
}
