.card {
  background-color: #f2f7ff;
  cursor: pointer;
  border-radius: 12px;
  padding: 0.5rem;
  display: grid;
  max-height: auto;
  align-items: start;
  grid-template-columns: 10rem 1fr;
  gap: 1rem;
  align-items: flex-start;
  box-shadow:
    rgba(122, 122, 122, 0.16) 0px 3px 6px,
    rgba(122, 122, 122, 0.16) 0px 3px 6px;
  transition: all 0.2s ease-in-out;

  @include desktop-smartphone {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow:
      rgba(122, 122, 122, 0.16) 0px 5px 8px,
      rgba(122, 122, 122, 0.16) 0px 5px 8px;
  }

  &__username {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__image-wrapper {
    align-self: center;
    margin: 1rem;
    flex-shrink: 0;
    width: 112px;
    height: 112px;
  }

  &__image,
  &__image-placeholder {
    width: 112px;
    height: 112px;
    min-width: 112px;
    min-height: 112px;
    max-width: 112px;
    max-height: 112px;
    border-radius: 8px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
  }
  &__image-placeholder {
    background: #c2c2c2;
    color: #4a4a4a;
    font-weight: 600;
    font-size: 18px;
  }

  &__info {
    flex: 1;
    min-width: 0;
  }
  &__detail-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 7px 12px;

    @include desktop-small() {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
  &__detail {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    color: #3a3a3a;
    overflow: hidden;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
